
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="head">
    <div class="head-text">
        <h1>Logical Login Form</h1>
    </div>
    <div class="login">
        <div class="login-form">
            <form>
                <input type="text" class="Login" placeholder="Login" required="" />
                <input type="password" class="password" placeholder="Password" required="" />
            </form>
        </div>
        <input type="submit" value="Sign in" />
        <ul>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Forgot Password?</a></li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
<div class="footer">
    <p>© 2015 Logical Login Form. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
</div>

